<nav class="radio-inputs">
    <% if(user) { %>
        <a class="radio" href="/">Homepage</a>
        <a class="radio" href="/users/<%= user._id %>/bookapp">Your Books</a>
        <a class="radio" href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a class="radio" href="/">Homepage</a>
        <a class="radio" href="/auth/sign-in">Sign In</a>
        <a class="radio" href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>